img{
    max-width: 100%;
}

body{
    margin: 0;
}
header{
    padding: 5px;
    box-shadow: 0px 8px 13px 0px #00000096;
}
.wrapper{
    width: 1200px;
    margin: auto;
    overflow: hidden;
}
.logo{
    width: 20%;
    float: left;
}
.logo img{}
nav{
    width: 80%;
    float: left;
}
nav ul{
    margin: 0;
    padding: 0;
    text-align: right;
}
nav ul li{list-style-type: none;display: inline-block;}
nav ul li a{
    font-size: 20px;
    color: #95341d;
    text-decoration: none;
    display: block;
    padding: 17px 30px;
}

nav ul li a:hover{
    color: #de6e2b;
}

section{}
.about-section{
    text-align: center;
    padding: 50px 0;
}

.about-section h1{
    font-size: 76px;
    color: #95341d;
    margin: 0 auto;
    max-width: 900px;
}
.about-section h1 span{
    color: #d65829;
    text-transform: capitalize;
}
.about-section p{
    margin: 0;
    font-size: 20px;
    color: #803925;
}

section img{
    display: block;
    margin: auto;
    max-width: 740px;
    box-shadow: 0px 8px 13px 0px #00000096;
    background: #d6582933;
}
.feature-section{
    padding: 30px 0;
}
.column{
    width: 50%;
    float: left;
}
.feature{
    padding: 20px;
}
.feature h2{
    font-size: 60px;
    color: #de6e2b;
    margin: 0;
}
.feature h2 span{
    color: #4F6CDB;
}
.feature p{
    margin: 0;
    font-size: 20px;
    color: #803925;
}

.allign-right{
    text-align: right;
}

.blog-section{
    padding: 30px;
}
.col{
    width: 33.33%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
.blog{
    padding: 10px;
    box-shadow: 0px 8px 13px 0px #00000096;
    background: #d6582933;
}
.blog img{
    max-width: 364px;
}
.blog h3{
    color: #c3743a;
    font-size: 28px;
    margin: 10px 0;
}
.blog p{
    color: #803925;
    font-size: 19px;
    margin: 16px 0;
}